.top-row {
	margin:3px 10px 0px 0px;
}
.sub-title-right {
	background-color:rgb(240,240,240);
	padding: 10px 0px 10px 2px;
}
.single-article {
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgb(230,230,230);
	margin: 20px 0px 20px 0px;
}
.post-meta {
	color: grey;
}
.article-content {
	display: block;
	width: 700px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article-main {
	margin: 20px 0px 100px 0px;
}

.single-comment {
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgb(230,230,230);
	margin: 20px 0px 20px 0px;
}

.comment-content {
	margin-bottom: 30px;
}

.fixed {
	position: fixed;
}

.comment-meta {
	color: grey;
}

#comment_decline {
	margin-top: 100px;
}

#bolg {
	position: fixed;
	left: 10%;
	right: 10%;
	margin-bottom: 70px;
	height: 200px;
	background-color: white;
}

a.red_link:link {
	color: red;
}

a.red_link:visited {
	color: red;
}

a.red_link:hover {
	color: red;
}

a.red_link:active{
	color: red;
}

.table_term_id {
	display: none;
}

.no_border {
	border-style: none none none none;
}

.edit_form {
	display: none;
}
