.top-row {
	margin:3px 10px 0px 0px;
}
.sub-title-right {
	background-color:rgb(240,240,240);
	padding: 10px 0px 10px 2px;
}
.single-article {
	border-style: none none solid none;
	border-width: 2px;
	border-color: rgb(230,230,230);
	margin: 20px 0px 20px 0px;
}
.post-meta {
	color: grey;
}
.article-content {
	display: block;
	width: 700px;
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
